*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #548687;
    text-align: center;
}
.container{
    height: 70vh ; /* % => parent | vw and vh => viewport(visible screen h/w)  | vmin => vw = vh | vmax => vh = vw         */
    justify-content: center;
    align-items: center;
    display: flex;
}

.game{

    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5vmin;
    justify-content: center;
    align-items: center;
    
}
.box{
    height: 18vmin;
    width: 18vmin;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    border-radius: 1rem;
    font-size: 8vmin;
    color: #b0413e;
    background-color: white;
}
#reset-btn{
    padding: 1rem;
    font-size: 1rem;
    background-color: #191913;
    color: white;
    border-radius: 1rem;
    border: none;
}
#new-btn{
    padding: 1rem;
    font-size: 1rem;
    background-color: #191913;
    color: white;
    border-radius: 1rem;
    border: none;
}
#msg{
    color: white;
    font-size: 5rem;
}
.msg-container{
    height: 100vh;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.hide{
    display: none;
}
